.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-controls {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  text-align: center;
}

.map {
  flex-grow: 1;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.action {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
}

.leaflet-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
